.container {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.button {
    background-color: #ec625f;
    color: white;
    padding: 11px 28px;
    color: white;
    margin: 5px;
}