.loginForm {
    width: 800px;
    height: 550px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #414141;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 2px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
}

.label {
    color: white;
}

h2 {
    text-align: center;
    position: relative;
    top: -50px;
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

h4 {
    color: white;
    text-align: center;
    position: relative;
    top: -30px;
}

button {
    background-color: #ec625f; /* Green */
    border: none;
    color: white;
    padding: 11px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ea4b48;
    color: white;
  }